* {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    display: flex;
    /* width:"300px"; */
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;


}

.header_logo {
    width: 50px;
    object-fit: contain;
    margin: 20px;
    margin-top: 18px;
    margin-bottom: 18px;

}

.header_location {
    border: 0px solid white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;



}

.header_locationlineone {
    border: 0px solid green;
    display: flex;
    font-weight: 1;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchinput {
    height: 30px;
    padding: 10px;
    border: none;
    width: 80%;
    margin-left: 50px;


}

.header_searchicon {
    padding: 5px;
    height: 30px !important;
    background-color: #cd9042;

}

.header_optionlineone {
    font-size: 15px;

}

.header_optionlinetwo {
    font-size: 15px;
    font-weight: 800;
}

.header_optionbasket {
    display: flex;
    align-items: center;
    color: white;



}

.header_optioncount {
    margin-left: 10px;
    margin-right: 10px;
}
/*  header123*/



.primeimage{
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 249, 249);
    position: absolute;
    z-index: 100;
    display: none;
    margin-left: -10px;
    margin-top: 0px;
    width:auto;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    /*  background-color: rgb(248, 249, 249);
    height: auto;
    width: 300px;
    position: absolute;
    z-index: 10;
    display: none;
    margin-left: 60px;
    margin-top: -20px;
    padding: 5px;
    */
    

   
    
}


.primeimagehover123:hover .primeimage{
  transition: display 1s;
  display: block;
  
  margin-bottom: 200px;

}

/* 11232 */

.header_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-top:8px;
    margin-bottom: 2px;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;

}